@model leave_management.Models.ViewAllocationsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="display: flex; justify-content:space-between;">
        <h1>@Model.Employee.Firstname.ToUpper() @Model.Employee.Lastname.ToUpper()</h1>
        <div>
            <a asp-action="ListEmployees" class="btn btn-outline-secondary">Back To Employee List</a>
        </div>
    </div>

<div>
    <hr />
    <dl class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h3>Details</h3>
            <div class="row">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.Firstname)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.Firstname)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.Lastname)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.Lastname)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.Email)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.Email)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.PhoneNumber)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.TaxId)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.TaxId)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.DateOfBirth)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Employee.DateJoined)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Employee.DateJoined)
                </dd>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Leave Allocations</h3>
            <div class="card" style="width: 15rem;">
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.LeaveAllocations)
                    {
                        <li class="list-group-item">
                            <h6>
                                @item.LeaveType.Name <span class="badge badge-secondary"> @item.NumberOfDays </span>
                                | <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa fa-pencil"> Edit</i></a>
                            </h6>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </dl>
</div>
